#as{
    background: rgb(252,251,252);
background: linear-gradient(90deg, rgba(252,251,252,1) 0%, rgba(253,29,29,1) 50%, rgba(251,251,250,1) 100%);
}
/* .l{
    background-color: rgb(183, 53, 53);
} */
.newCssDiv{
    padding:10px;
    margin:10px;
    background-color: aqua;
    color:bisque;
    cursor: grab;
}